<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>The CRM Company</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/crm.css}" rel="stylesheet"/>
    <script th:src="@{/js/crm.js}"></script>
</head>
<body>
<div class="navbar navbar-default" th:fragment="header">

    <div class="container">

        <img th:src="@{/images/crm-logo.png}"/>
        &nbsp;&nbsp;

        <p class="nav navbar-nav">

        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/index.html}">&nbsp;Home&nbsp;</a>
        </div>


        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/contacts/list}">&nbsp;Contacts &nbsp;</a>
        </div>


        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/products/list}">&nbsp;Products &nbsp;</a>
        </div>


        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/quotes/list}">&nbsp;Quotes &nbsp;</a>
        </div>


        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/activities/list}">&nbsp;Activities &nbsp;</a>
        </div>


        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/users/list}">&nbsp;Users &nbsp;</a>
        </div>


        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">&nbsp;Logout&nbsp;</a>
        </div>


        <div sec:authorize="isAuthenticated()">
            &nbsp;&nbsp;&nbsp;&nbsp;(user=<span sec:authentication="principal.username"></span>)
        </div>


        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Login</a>
        </div>


        </p>
        <hr/>
    </div>
</div>

<div th:fragment="footer">
    <hr>
    &copy; 2018 The CRM Company - All rights reserved
    <hr>
</div>

</body>
</html>
