<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
    <div class="container">

        <div th:replace="fragments/fragments :: header"></div>
        <div class="header">
            <h1>Activities</h1>
        </div>

        <div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="activity : ${activityList}">
                    <!--<td><a th:href="${#mvc.url('QC#activityDetails').arg(0, activity.id).build()}" th:text="${activity.id}">1</a></td>-->
                    <td th:text="${activity.id}"></td>
                    <td th:text="${activity.category?:''}">NEW</td>
                    <td th:text="${activity.status}"></td>
                    <!--<td>-->
                        <!--&lt;!&ndash;<a th:href="${#mvc.url('QC#remove').arg(0, quote.id).build()}" class="btn btn-sm btn-danger">Remove</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a th:href="${#mvc.url('PC#createOrEditForm').arg(0, product.id).build()}" class="btn btn-sm btn-warning">Edit</a>&ndash;&gt;-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
            <!--<a th:href="${#mvc.url('QC#createQuoteForm').arg(0, contact.id).build()}" class="btn btn-primary">New Quote</a>-->

        </div>
    </div>
</body>
</html>