<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div class="container">

    <div th:replace="fragments/fragments::header"></div>

    <div class="header">
        <h1>Contacts</h1>
    </div>
    <br>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact : ${contactList}">
            <td th:href="${#mvc.url('CC#contactDetails').arg(0, contact.id).build()}" th:text="${contact.id}">1</td>
            <td><a th:href="${#mvc.url('CC#contactDetails').arg(0, contact.id).build()}" th:text="${contact.fullName?:''}">John Doe</a></td>
            <td th:text="${contact.leadStatus?:''}">NEW</td>
            <td> <a th:href="${#mvc.url('UC#details').arg(0, contact.owner?.id).build()}"
                    th:text="${contact.owner == null ? '' : contact.owner.fullName}">Uncle Sam</a></td>
        </tr>
        </tbody>
    </table>

    <a th:href="${#mvc.url('CC#editOrCreateContactRequest').build()}" class="btn btn-primary">New contact</a>

    <div th:replace="fragments/fragments::footer"></div>


</div>
</body>
</html>