<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>

<body>
<div class="container">

    <div th:replace="fragments/fragments::header"></div>
    <div class="header border border-dark" id="details">
        <h2>Details</h2>
        <a href="#quotes" class="badge badge-secondary">Quotes</a>
        <a href="#activities" class="badge badge-secondary">Activities</a>
    </div>

    <button id="backbutton" class="btn btn-primary">Back</button>
    <br><br>
    <div class="row">
        <div class="col-sm-2">Id:</div>
        <div class="col-sm-10" th:text="${contact.id}"></div>

    </div>
    <div class="row" th:if="${!contact?.fullName?.trim().isEmpty()}">
        <div class="col-sm-2">Name:</div>
        <div class="col-sm-10" th:text="${contact.fullName}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Status:</div>
        <div class="col-sm-10" th:text="${contact.leadStatus}"></div>
    </div>
    <div class="row" th:if="${contact.email}">
        <div class="col-sm-2">Email:</div>
        <div class="col-sm-10" th:text="${contact.email}"></div>
    </div>
    <div class="row" th:if="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).PHONE)}">
        <div class="col-sm-2">Phone:</div>
        <div class="col-sm-10" th:text="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).PHONE)?.number}"></div>
    </div>
    <div class="row" th:if="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).MOBILE)}">
        <div class="col-sm-2">Mobile:</div>
        <div class="col-sm-10" th:text="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).MOBILE)?.number}"></div>
    </div>
    <div class="row" th:if="${contact.owner}">
        <div class="col-sm-2">Owner:</div>
        <div class="col-sm-10" th:text="${contact.owner?.fullName}"></div>
    </div>

    <br>

    <!--<<<<<<<<<<<<<<< START Addresses >>>>>>>>>>>>>>>>> -->

    <h6>Addresses:</h6>
    <button id="changeViewAddress" class="btn btn-dark btn-sm" onclick="showHide(changeViewAddress, 'addresses')">Hide</button>
    <ul id="addresses" class="list-group">
        <br>
        <div th:if="${contact.addresses.isEmpty()}">No current addresses</div>
        <li th:each="address : ${contact.addresses}" class="list-group-item">
            <span th:text="${address.streetName + ' '}"></span>
            <span th:text="${address.houseNumber + ((address.bus != null && !address.bus?.equals(''))? ' (bus: ' + address.bus + '), ' : ', ')}"></span>
            <span th:text="${(address.zipCode != null ? address.zipCode + ' ' : '') + address.city != null ? address.city : ''}"></span>
        </li>
    </ul>
    <br>

    <!--<<<<<<<<<<<<<<< END Addresses >>>>>>>>>>>>>>>>> -->

    <!--<<<<<<<<<<<<<<< START NOTES >>>>>>>>>>>>>>>>> -->

    <br>
    <h6>Notes:</h6>
    <button id="changeViewNotes" class="btn btn-dark btn-sm" onclick="showHide(changeViewNotes, 'notesForm')">Hide</button>
    <br>

    <form id="notesForm" method="post" th:action="${#mvc.url('CC#contactDetailsPost').arg(0,__${contact.id}__).build()}"
          th:object="${contact}">
        <br>
        <div th:if="${contact.notes?.isEmpty()}">No current notes.</div>
        <div th:each="notes, status : ${contact.notes}">
            <div class="alert alert-danger form-group"
                 th:if="${#fields.hasErrors('*{notes[__${status.index}__].comment}')}"
                 th:each="e : ${#fields.errors('*{notes[__${status.index}__].comment}')}"
                 th:text="${e}"></div>
            <textarea type="text" th:field="*{notes[__${status.index}__].comment}" class="form-control"/>
            <input type="hidden" th:field="*{notes[__${status.index}__].id}"/>
        </div>

        <div id="extraNotes"></div>

        <button class="btn btn-dark btn-sm">Save notes</button>
        &nbsp;
        <button type="button" class="btn btn-dark btn-sm" th:onclick="'addNote(' + ${contact.notes.size()} + ')'">Add note</button>


        <script type="text" id="noteTemplate">
                 <textarea class="form-control" rows= type="text" name="{{comment}}" placeholder="Write your note comments here"></textarea>
                 <input type="hidden" name="{{id}}" class="form-control"/>

        </script>


    </form>


    <script>
            let addExtraNote = 0;
            function addNote(size) {
                let note = loadNoteTemplate("noteTemplate", (size + addExtraNote++) );
                document.getElementById("extraNotes").appendChild(note);
            }

            function loadNoteTemplate(id, index) {
                let selectTemplateText = document.getElementById(id).innerText;
                let noteIndex = "notes[" + index +"]";
                let resolvedTemplateText = selectTemplateText
                    .replace("{{comment}}", noteIndex + ".comment")
                    .replace("{{id}}", noteIndex + ".id");
                return new DOMParser().parseFromString(resolvedTemplateText, "text/html").firstChild;
    };

    </script>

    <!--<<<<<<<<<<<<<<< END NOTES >>>>>>>>>>>>>>>>> -->

    <br>
    <a th:href="${#mvc.url('CC#editOrCreateContactRequest').arg(0, contact.id).build()}"
       class="btn btn-primary">Edit</a>
    <a th:href="${#mvc.url('CC#listAllContacts').build()}" class="btn btn-primary">Contact List</a>
    <br><br><br><br>

    <!--<<<<<<<<<<<<<<< START QUOTES >>>>>>>>>>>>>>>>> -->
    <div class="header border border-dark" id="quotes">
        <h2>Quotes</h2>
        <a href="#details" class="badge badge-secondary">Details</a>
        <a href="#activities" class="badge badge-secondary">Activities</a>

    </div>
    <br><br>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Stage</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="quote : ${quoteList}">
                <td><a th:href="${#mvc.url('QC#quoteDetails').arg(0, quote.id).build()}" th:text="${quote.id}">1</a>
                </td>
                <td th:text="${quote.stage}"></td>
                <td th:text="${quote.total}"></td>
                <!--<td>-->
                <!--<a th:href="${#mvc.url('QC#remove').arg(0, quote.id).build()}" class="btn btn-sm btn-danger">Remove</a>-->
                <!--<a th:href="${#mvc.url('PC#createOrEditForm').arg(0, product.id).build()}" class="btn btn-sm btn-warning">Edit</a>-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>
        <a th:href="${#mvc.url('QC#createQuoteForm').arg(0, contact.id).build()}" class="btn btn-primary">New Quote</a>

    </div>
    <br><br><br><br>

    <!--<<<<<<<<<<<<<<< END QUOTES >>>>>>>>>>>>>>>>> -->

    <!--<<<<<<<<<<<<<<< START ACTIVITIES>>>>>>>>>>>>>>>>> -->
    <div class="header border border-dark" id="activities">
        <h2>Activities</h2>
        <a href="#details" class="badge badge-secondary">Details</a>
        <a href="#quotes" class="badge badge-secondary">Quotes</a>
    </div>
    <br><br>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="activity : ${activities}">
                <td><a th:href="${#mvc.url('AC#activityDetails').arg(0, activity.id).build()}" th:text="${activity.id}">1</a>
                </td>
                <!--<td th:text="${activity.id}"></td>-->
                <td th:text="${activity.category?:''}">NEW</td>
                <td th:text="${activity.status}"></td>
                <!--<td>-->
                <!--&lt;!&ndash;<a th:href="${#mvc.url('QC#remove').arg(0, quote.id).build()}" class="btn btn-sm btn-danger">Remove</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a th:href="${#mvc.url('PC#createOrEditForm').arg(0, product.id).build()}" class="btn btn-sm btn-warning">Edit</a>&ndash;&gt;-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>
        <a th:href="${#mvc.url('AC#createActivityForm').arg(0, contact.id).build()}" class="btn btn-primary">New
            Activity</a>

    </div>

    <!--<<<<<<<<<<<<<<< END ACTIVITIES >>>>>>>>>>>>>>>>> -->
    <div th:replace="fragments/fragments::footer"></div>


</div>
</body>
</html>