<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>

<body>
<div class="container">

    <div th:replace="fragments/fragments::header"></div>


    <div class="header">
        <h1>Edit Contact</h1>
    </div>
    <br>


    <form th:object="${contact}" method="POST">

        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="fn" class="col-form-label">First Name</label>
            </div>
            <div class="form-group col-md-5">
                <input id="fn" type="text" class="form-control" th:field="*{firstName}" placeholder="First Name"/>
            </div>

            <div class="form-group col-md-1">
                <label for="ln" class="col-form-label">Last Name</label>
            </div>
            <div class="form-group col-md-5">
                <input id="ln" type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name"/>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="phn" class="col-form-label">Phone</label>
            </div>

            <div class="form-group col-md-5">
                <input id="phn" type="text" class="form-control" th:value="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).PHONE)?.number}" placeholder="Phone number"/>
                <input id="phnid" type="hidden" class="form-control" th:value="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).PHONE)?.id}" placeholder="Phone number"/>
            </div>

            <div class="form-group col-md-1">
                <label for="mob" class="col-form-label">Mobile</label>
            </div>

            <div class="form-group col-md-5">
                <input id="mob" type="text" class="form-control" th:field="*{phones[__${T(be.vdab.crm.entity.PhoneType).MOBILE}__]}"
                th:id="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).MOBILE)?.id}"
                       th:value="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).MOBILE)?.number}"
                placeholder="Mobile phone number"/>
            </div>
        </div>


        <div class="alert alert-danger"
             th:if="${#fields.hasErrors('email')}"
             th:each="e : ${#fields.errors('email')}"
             th:text="${e}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="em" class="col-form-label">Email</label>
            </div>

            <div class="form-group col-md-5">
                <input id="em" type="text" class="form-control" th:field="*{email}" placeholder="Email"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="owner" class="col-form-label">Owner</label>
            </div>
            <div class="form-group col-md-5">

                <select class="form-control" th:field="*{owner}" id="owner">
                    <option th:value="null" th:disabled="${contact.id != null}">-Select owner-</option>
                    <option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner.fullName}"></option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <div th:replace="fragments/fragments::footer"></div>
</div>
</body>
</html>