<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>

<body>
<div class="container">

    <div th:replace="fragments/fragments::header"></div>
    <div class="header">
        <h1>Details</h1>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-2">Id:</div>
        <div class="col-sm-10" th:text="${contact.id}"></div>

    </div>
    <div class="row">
        <div class="col-sm-2">Name:</div>
        <div class="col-sm-10" th:text="${contact.fullName}"></div>

    </div>
    <div class="row">
        <div class="col-sm-2">Email:</div>
        <div class="col-sm-10" th:text="${contact.email}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Phone:</div>
        <div class="col-sm-10" th:text="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).MOBILE)?.number}"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Owner:</div>
        <div class="col-sm-10" th:text="${contact.owner?.fullName}"></div>
    </div>

    <br>
    <a th:href="${#mvc.url('CC#editOrCreateContactRequest').arg(0, contact.id).build()}" class="btn btn-primary">Edit</a>
    &nbsp;
    <a th:href="${#mvc.url('CC#listAllContacts').build()}" class="btn btn-primary">Contact List</a>

           <!--<<<<<<<<<<<<<<< START QUOTES >>>>>>>>>>>>>>>>> -->
    <div class="header">
        <h2>Quotes</h2>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Stage</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="quote : ${quoteList}">
                <td th:text="${quote.id}"></td>
                <td th:text="${quote.stage}"></td>
                <td th:text="${quote.total}"></td>
                <td>
                    <!--<a th:href="${#mvc.url('QC#remove').arg(0, quote.id).build()}" class="btn btn-sm btn-danger">Remove</a>-->
                    <!--<a th:href="${#mvc.url('PC#createOrEditForm').arg(0, product.id).build()}" class="btn btn-sm btn-warning">Edit</a>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>

             <!--<<<<<<<<<<<<<<< END QUOTES >>>>>>>>>>>>>>>>> -->

    <div th:replace="fragments/fragments::footer"></div>


</div>
</body>
</html>