<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>

<body>
<div class="container">

    <div th:replace="fragments/fragments::header"></div>


    <div class="header">
        <h1>Edit Contact</h1>
    </div>
    <br>


    <form th:object="${contact}" method="POST" id="contactForm">

        <div th:if="${#fields.hasErrors('firstName') || #fields.hasErrors('lastName')}" class="form-row">
            <div class="col-md-1"></div>
            <div class="alert alert-danger form-group col-md-5"
                 th:if="${#fields.hasErrors('firstName')}"
                 th:each="e : ${#fields.errors('firstName')}"
                 th:text="${e}">
            </div>
            <div th:if="${#fields.hasErrors('lastName')}"
                 th:attr="class=${#fields.hasErrors('firstName')? 'col-md-1' : 'col-md-6'}"></div>
            <div class="alert alert-danger form-group col-md-5 naar-rechts"
                 th:if="${#fields.hasErrors('lastName')}"
                 th:each="e : ${#fields.errors('lastName')}"
                 th:text="${e}">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="fn" class="col-form-label">First Name</label>
            </div>
            <div class="form-group col-md-5">
                <input id="fn" type="text" class="form-control" th:field="*{firstName}" placeholder="First Name"/>
            </div>

            <div class="form-group col-md-1">
                <label for="ln" class="col-form-label">Last Name</label>
            </div>
            <div class="form-group col-md-5">
                <input id="ln" type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name"/>
            </div>
        </div>

        <div th:if="${#fields.hasErrors('phones')}" class="form-row">
            <div class="col-md-1"></div>
            <div class="alert alert-danger form-group col-md-11"
                 th:each="e : ${#fields.errors('phones')}"
                 th:text="${e}">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="phn" class="col-form-label">Phone</label>
            </div>
            <div class="form-group col-md-5">
                <input id="phn" type="text" class="form-control" name="phonenr"
                       th:value="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).PHONE)?.number}"
                       placeholder="Phone number"/>
            </div>

            <div class="form-group col-md-1">
                <label for="mob" class="col-form-label">Mobile</label>
            </div>
            <div class="form-group col-md-5">
                <input id="mob" type="text" class="form-control" name="mobilenr"
                       th:value="${contact.phones?.get(T(be.vdab.crm.entity.PhoneType).MOBILE)?.number}"
                       placeholder="Mobile number"/>
            </div>
        </div>


        <div th:if="${#fields.hasErrors('email')}" class="form-row">
            <div class="col-md-1"></div>
            <div class="alert alert-danger form-group col-md-5"
                 th:each="e : ${#fields.errors('email')}"
                 th:text="${e}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="em" class="col-form-label">Email</label>
            </div>
            <div class="form-group col-md-5">
                <input id="em" type="text" class="form-control" th:field="*{email}" placeholder="Email"/>
            </div>
            <div class="form-group col-md-1">
                <label for="leadstatus" class="col-form-label">Status</label>
            </div>
            <div class="form-group col-md-5">

                <select class="form-control" th:field="*{leadStatus}" id="leadstatus">
                    <option th:each="status : ${T(be.vdab.crm.entity.LeadStatus).values()}"
                            th:value="${status}" th:text="${status}"
                            th:selected="${contact.leadStatus == null && status.equals(T(be.vdab.crm.entity.LeadStatus).NEW)}"></option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="owner" class="col-form-label">Owner</label>
            </div>
            <div class="form-group col-md-5">

                <select class="form-control" th:field="*{owner}" id="owner">
                    <option th:value="null" th:selected="${contact.owner == null}">-Without owner-</option>
                    <option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner.fullName}"></option>
                </select>
            </div>
        </div>
        <br><br>

        <div id="addresses">Addresses:</div>
        <br>
        <div th:each="address, iteration : ${contact.addresses}">
            <div th:if="${#fields.hasErrors('*{addresses[__${iteration.index}__].streetName}')} or
                        ${#fields.hasErrors('*{addresses[__${iteration.index}__].houseNumber}')}" class="form-row">
                <div class="col-md-1"></div>
                <div class="alert alert-danger form-group col-md-5"
                     th:if="${#fields.hasErrors('*{addresses[__${iteration.index}__].streetName}')}"
                     th:each="e : ${#fields.errors('*{addresses[__${iteration.index}__].streetName}')}"
                     th:text="${e}">
                </div>
                <div th:if="${#fields.hasErrors('*{addresses[__${iteration.index}__].houseNumber}')}"
                     th:attr="class=${#fields.hasErrors('*{addresses[__${iteration.index}__].streetName}')? 'col-md-1' : 'col-md-6'}"></div>
                <div class="alert alert-danger form-group col-md-5 naar-rechts"
                     th:if="${#fields.hasErrors('*{addresses[__${iteration.index}__].houseNumber}')}"
                     th:each="e : ${#fields.errors('*{addresses[__${iteration.index}__].houseNumber}')}"
                     th:text="${e}">
                </div>
            </div>
            <div class="form-row">
                <label class="col-form-label col-md-1">Street</label>
                <input type="text" class="form-control col-md-5"
                       th:field="*{addresses[__${iteration.index}__].streetName}" placeholder="Street name"/>
                <label th:for="*{addresses[__${iteration.index}__].id + 'number'}"
                       class="col-form-label col-md-1">Nr</label>
                <input th:id="*{addresses[__${iteration.index}__].id + 'number'}" type="text"
                       class="form-control col-md-5"
                       th:field="*{addresses[__${iteration.index}__].houseNumber}" placeholder="House number"/>
            </div>

            <div th:if="${#fields.hasErrors('*{addresses[__${iteration.index}__].bus}')} or
                        ${#fields.hasErrors('*{addresses[__${iteration.index}__].city}')}" class="form-row">
                <div class="col-md-1"></div>
                <div class="alert alert-danger form-group col-md-5"
                     th:if="${#fields.hasErrors('*{addresses[__${iteration.index}__].bus}')}"
                     th:each="e : ${#fields.errors('*{addresses[__${iteration.index}__].bus}')}"
                     th:text="${e}">
                </div>
                <div th:if="${#fields.hasErrors('*{addresses[__${iteration.index}__].city}')}"
                     th:attr="class=${#fields.hasErrors('*{addresses[__${iteration.index}__].bus}')? 'col-md-1' : 'col-md-6'}"></div>
                <div class="alert alert-danger form-group col-md-5 naar-rechts"
                     th:if="${#fields.hasErrors('*{addresses[__${iteration.index}__].city}')}"
                     th:each="e : ${#fields.errors('*{addresses[__${iteration.index}__].city}')}"
                     th:text="${e}">
                </div>
            </div>
            <div class="form-row">
                <label th:for="*{addresses[__${iteration.index}__].id + 'bus'}"
                       class="col-form-label col-md-1">Bus</label>
                <input th:id="*{addresses[__${iteration.index}__].id + 'bus'}" type="text"
                       class="form-control col-md-5"
                       th:field="*{addresses[__${iteration.index}__].bus}" placeholder="Bus number"/>
                <label th:for="*{addresses[__${iteration.index}__].id + 'id'}"
                       class="col-form-label col-md-1">City</label>
                <input th:id="*{addresses[__${iteration.index}__].id + 'city'}" type="text"
                       class="form-control col-md-5"
                       th:field="*{addresses[__${iteration.index}__].city}" placeholder="City"/>
            </div>

            <div th:if="${#fields.hasErrors('*{addresses[__${iteration.index}__].zipCode}')}" class="form-row">
                <div class="col-md-1"></div>
                <div class="alert alert-danger form-group col-md-5"
                     th:if="${#fields.hasErrors('*{addresses[__${iteration.index}__].zipCode}')}"
                     th:each="e : ${#fields.errors('*{addresses[__${iteration.index}__].zipCode}')}"
                     th:text="${e}">
                </div>
            </div>
            <div class="form-row">
                <label th:for="*{addresses[__${iteration.index}__].id + 'zip'}"
                       class="col-form-label col-md-1">Zip</label>
                <input th:id="*{addresses[__${iteration.index}__].id + 'zip'}" type="text"
                       class="form-control col-md-5"
                       th:field="*{addresses[__${iteration.index}__].zipCode}" placeholder="Zipcode"/>
                <div class="col-md-1"></div>
                <button type="button" class="col-md-1 btn-danger"
                        th:onclick="'deleteAddress(' + ${contact.addresses[__${iteration.index}__].id} + ')'">Delete
                </button>
                <div class="col-md-2"></div>
                <input th:field="*{addresses[__${iteration.index}__].id}" type="hidden"/>
                <input th:id="${contact.addresses[__${iteration.index}__].id}"
                       th:field="*{addresses[__${iteration.index}__].deleted}" type="hidden"/>
                <div></div>
            </div>
            <br>
        </div>

        <div id="extraAddresses"></div>

        <button type="button" th:onclick="'addAddress(' + ${contact.addresses.size()} + ')'">Add</button>

        <script type="text" id="addressTemplate">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="{{streetName}}" class="form-control" placeholder="Street name"/>
                </div>
                <div class="col-md-6">
                    <input type="text" name="{{houseNumber}}" class="form-control" placeholder="House number"/>
                </div>
             </div>

             <div class="row">
                <div class="col-md-6">
                    <input type="text" name="{{bus}}" class="form-control" placeholder="Bus number"/>
                </div>
                <div class="col-md-6">
                    <input type="text" name="{{city}}" class="form-control" placeholder="City"/>
                </div>
             </div>

             <div class="row">
                <div class="col-md-6">
                    <input type="text" name="{{zip}}" class="form-control" placeholder="Zipcode"/>
                </div>

             </div>
        </script>

        <script>
            let extraAddressCount = 0;

            function addAddress(size) {
                let address = loadTemplate("addressTemplate", (size + extraAddressCount++) );
                document.getElementById("extraAddresses").appendChild(address);
            }

            function loadTemplate(id, index) {
                let selectTemplateText = document.getElementById(id).innerText;
                let addressIndex = "addresses[" + index +"]";
                let resolvedTemplateText = selectTemplateText
                    .replace("{{streetName}}", addressIndex + ".streetName")
                    .replace("{{bus}}", addressIndex + ".bus")
                    .replace("{{houseNumber}}", addressIndex + ".houseNumber")
                    .replace("{{zip}}", addressIndex + ".zipCode")
                    .replace("{{city}}", addressIndex + ".city");
                return new DOMParser().parseFromString(resolvedTemplateText, "text/html").lastChild;
            }


        </script>

        <script>
        function deleteAddress(deleted) {
            let elementje = document.getElementById(deleted);
            let form = document.getElementById('contactForm');

            elementje.setAttribute('value', 'true');

            if(window.confirm("Are you sure?")){
                form.submit();
            }else{
                elementje.setAttribute('value', 'false');
            }
        }

        </script>

        <br>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:if="${contact.id}" th:href="${#mvc.url('CC#contactDetails').arg(0, contact.id).build()}" type="submit"
           class="btn btn-primary">Back to details</a>
    </form>


    <div th:replace="fragments/fragments::footer"></div>
</div>
</body>
</html>