<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/fragments :: head"></head>

<body>
<div class="container">
    <div th:replace="fragments/fragments::header"></div>

    <div class="header">
        <h1>Welcome to the CRM Company</h1>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Technologies</th>
            <th>Backlog</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Front-end<br>
                <ul>
                    <li>html</li>
                    <li>css</li>
                    <li>javascript</li>
                    <li>bootstrap</li>
                    <li>thymeleaf</li>
                </ul>

                Backend<br>

                <ul>
                    <li>spring boot</li>
                    <li>boot jpa hibernate</li>
                    <li>boot security</li>
                    <li>boot mvc</li>
                    <li>sql jpql</li>
                    <li>tomcat web server</li>
                    <li>mysql database server</li>
                </ul>

                Tool<br>

                <ul>
                    <li>intelliJ</li>
                    <li>maven</li>
                    <li>git</li>
                    <li>mysqlworkbench</li>
                </ul>

            </td>
            <td>

                Johan<br>
                <ul>
                    <li>contact</li>
                    <li>note</li>
                    <li>activity</li>
                </ul>

                Ivo<br>
                <ul>
                    <li>product</li>
                    <li>quote</li>
                    <li>quotelines</li>
                </ul>

                Patrick<br>
                <ul>
                    <li>initial setup</li>
                    <li>user</li>
                    <li>security</li>
                    <li>json webservice</li>
                </ul>

            </td>
        </tr>
        </tbody>

    </table>
    <br>
    <a href="https://github.com/patvdc/crm-app" target="_blank">Github Repository</a>
    <br>
    <a href="https://docs.google.com/presentation/d/19dc7oQP30vMScqr7ynmpTF4H_PHZ-zmbgMZO0ZszEI0/edit?usp=sharing" target="_blank">Presentation</a>

    <br>

    <div th:replace="fragments/fragments::footer"></div>

</div>
</body>
</html>