<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>

<div class="container">

    <div th:replace="fragments/fragments::header"></div>

    <div class="header">
        <h1>Product Details</h1>
    </div>

    <br>

    <a th:href="${#mvc.url('PC#getAllProducts').build()}" class="btn btn-primary">Back</a>
    <a th:href="${#mvc.url('PC#createOrEditForm').arg(0, product.id).build()}" class="btn btn-primary">Edit</a>

    <br>

    <div class="row">
        <div class="col-sm-2">Id:</div>
        <div class="col-sm-10" th:text="${product.id}"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Name:</div>
        <div class="col-sm-10" th:text="${product.name}"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Price:</div>
        <div class="col-sm-10" th:text="${product.unitPrice}"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Category:</div>
        <div class="col-sm-10" th:text="${product.category}"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Picture</div>
        <div class="col-sm-10" th:text="${product.picture}"></div>

    </div>

    <br>

    <div th:replace="fragments/fragments::footer"></div>

</div>

</body>
</html>