<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>

<body>
<div class="container">

    <div th:replace="fragments/fragments::header"></div>

    <div class="header">
        <h1>Edit Product</h1>
    </div>

    <br>

    <form th:object="${productForm}" method="POST">

        <input type="hidden" th:field="*{id}"/>

        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="na" class="col-form-label">Product Name</label>
            </div>
            <div class="alert alert-danger"
                 th:if="${#fields.hasErrors('name')}"
                 th:each="e : ${#fields.errors('name')}"
                 th:text="${e}">
            </div>
            <div class="form-group col-md-5">
                 <input id="na" type="text" class="form-control" th:field="*{name}" placehouder="Product Name"/>
            </div>

        </div>


        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="pr" class="col-form-label">Product Price</label>
            </div>
            <div class="alert alert-danger"
                 th:if="${#fields.hasErrors('price')}"
                 th:each="e : ${#fields.errors('price')}"
                 th:text="${e}">
            </div>
            <div class="form-group col-md-5">
                <input id="pr" type="text" class="form-control" th:field="*{unitPrice}" placehouder="Product Price"/>
            </div>
        </div>

        <div class="form-group">
            <label for="cat">Category: </label>
            <div class="alert alert-danger"
                 th:if="${#fields.hasErrors('category')}"
                 th:each="e : ${#fields.errors('category')}"
                 th:text="${e}">
            </div>

            <select name="category" id="cat">
                <option disabled
                        th:selected="${category == null}"
                        th:value="null">-Select Category-</option>
                <option th:each="category : ${T(be.vdab.crm.entity.ProductCategory).values()}"
                        th:value="${category}"
                        th:text="${category}">
                </option>
            </select>

        </div>

        <input type="submit" value="Save" class="btn btn-primary"/>
        <a th:href="${#mvc.url('PC#getAllProducts').build()}" class="btn btn-primary">Back</a>

    </form>


</div>
</body>
</html>