<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create/Edit Contact</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/crm.css"/>
</head>
<body>
<div class="container">

    <div class="header">
        <h1>Edit Product</h1>
    </div>
    <br>


    <form th:object="${productForm}" method="POST">

        <div class="form-row">
            <div class="form-group">
                <label for="fn">Product Name</label>
                <input id="fn" type="text" th:field="*{name}"/>

                <label for="ln">Product Price</label>
                <input id="ln" type="text" th:field="*{price}"/>

                <label for="categ">Category</label>

                <select name="category" id="categ">
                    <option disabled
                            th:selected="${category == null}"
                            th:value="null">-Select Category-</option>
                    <option th:each="category : ${T(be.vdab.crm.entity.ProductCategory).values()}"
                            th:value="${category}"
                            th:text="${category}">
                    </option>
                </select>
            </div>
        </div>

         <button type="submit">Submit</button>
    </form>


</div>
</body>
</html>