<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <div th:replace="fragments/fragments::header"></div>

    <div class="header">
        <h1>Quote Details</h1>
    </div>

    <br>

    <button id="backbutton" class="btn btn-primary">Back</button>
    <!--<a th:href="${#mvc.url('UC#createAndEditForm').arg(0, quote.id).build()}" class="btn btn-primary">Edit</a>-->

    <br>

    <div class="row">
        <div class="col-sm-2">Id:</div>
        <div class="col-sm-10" th:text="${quote.id}"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Contact:</div>
        <div class="col-sm-10" th:text="${quote.contact.getFullName()}"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Total:</div>
        <div class="col-sm-10" th:text="${quote.total}" ></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Billing Address:</div>
        <div class="col-sm-10" th:text="${quote.billingAddress.prettyAddress()}" ></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Shipping Address:</div>
        <div class="col-sm-10" th:text="${quote.shippingAddress.prettyAddress()}" ></div>
    </div>

    <br>

    <!--<<<<<<<<<<<<<<< START QUOTE LINES >>>>>>>>>>>>>>>>> -->
    <div class="header">
        <h2>Quote Lines</h2>


    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="quoteLine : ${quote.lines}">
                <!--<td><a th:href="${#mvc.url('QC#quoteDetails').arg(0, quote.id).build()}" th:text="${quoteLine.id}">1</a></td>-->
                <td th:text="${quoteLine.id}"></td>
                <td th:text="${quoteLine.product.name}"></td>
                <td th:text="${quoteLine.product.unitPrice}"></td>
                <td th:text="${quoteLine.quantity}"></td>
                <td th:text="${quoteLine.total}"></td>
                <td>
                    <!--<a th:href="${#mvc.url('QC#remove').arg(0, quote.id).build()}" class="btn btn-sm btn-danger">Remove</a>-->
                    <!--<a th:href="${#mvc.url('PC#createOrEditForm').arg(0, product.id).build()}" class="btn btn-sm btn-warning">Edit</a>-->
                </td>
            </tr>
            </tbody>
        </table>
        <!--<a th:href="${#mvc.url('QC#createQuoteForm').arg(0, contact.id).build()}" class="btn btn-primary">New Quote</a>-->

    </div>

    <!--<<<<<<<<<<<<<<< END QUOTE LINES >>>>>>>>>>>>>>>>> -->

    <div th:replace="fragments/fragments::footer"></div>

</div>
</body>
</html>