<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div class="container">

    <div th:replace="fragments/fragments::header"></div>

    <div class="header">
        <h1>Edit User</h1>
    </div>

    <br>

    <form th:object="${userForm}" method="POST">

                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="fn">First name: </label>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('firstName')}"
                         th:each="e : ${#fields.errors('firstName')}"
                         th:text="${e}">
                    </div>
                    <input type="text" id="fn" th:field="*{firstName}" class="form-control" placeholder="First Name"/>
                </div>

                <div class="form-group">
                    <label for="ln">Last name: </label>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('lastName')}"
                         th:each="e : ${#fields.errors('lastName')}"
                         th:text="${e}">
                    </div>
                    <input type="text" id="ln" th:field="*{lastName}" class="form-control" placeholder="Last Name"/>
                </div>

                <div class="form-group">
                    <label for="em">Email: </label>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('email')}"
                         th:each="e : ${#fields.errors('email')}"
                         th:text="${e}">
                    </div>
                    <input type="text" id="em" th:field="*{email}" class="form-control" placeholder="name@domain.com"/>
                </div>

                <div class="form-group">
                    <label for="psw">Password: </label>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('password')}"
                         th:each="e : ${#fields.errors('password')}"
                         th:text="${e}">
                    </div>
                    <input type="password" id="psw" th:field="*{password}" class="form-control" placeholder="will be encrypted" />
                </div>

        <div class="form-group">
        <label for="ro">Role: </label>
        <div class="alert alert-danger"
             th:if="${#fields.hasErrors('role')}"
             th:each="e : ${#fields.errors('role')}"
             th:text="${e}">
        </div>

        <select name="role" id="ro" th:field="*{role}" class="form-control">
            <option disabled
                    th:selected="${role == null}"
                    th:value="null">-Select Role-</option>
            <option th:each="role : ${T(be.vdab.crm.entity.UserRole).values()}"
                    th:value="${role}"
                    th:text="${role}">
            </option>
        </select>
        </div>


        <input type="submit" value="Save" class="btn btn-primary"/>
        <a th:href="${#mvc.url('UC#list').build()}" class="btn btn-primary">Back</a>

    </form>

</div>
</body>
</html>




