<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/fragments::header"></div>
    <div>
            <div class="jumbotron">
                <h1><a th:href="${#mvc.url('UC#root').build()}">User</a></h1>
            </div>
            <div class="row">
                <div class="col-sm-2">Id:</div>
                <div class="col-sm-10" th:text="${user.id}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">Name:</div>
                <div class="col-sm-10" th:text="${user.firstName + ' ' + user.lastName}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">Email:</div>
                <div class="col-sm-10" th:utext="${user.email}"></div>
            </div>
            <a th:href="${#mvc.url('UC#list').build()}" class="btn btn-primary">Back to list</a>

    </div>
    <div th:replace="fragments/fragments::footer"></div>
</div>
</body>
</html>