<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/fragments::header"></div>

    <div class="header">
        <h1>Users</h1>
    </div>

    <div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td><a th:href="${#mvc.url('UC#details').arg(0, user.id).build()}" th:text="${user.id}"></a></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td><a th:href="${#mvc.url('UC#details').arg(0, user.id).build()}" th:text="${user.email}"></a></td>
            <!--    <td>
                    <a th:href="${#mvc.url('UC#remove').arg(0, user.id).build()}" class="btn btn-sm btn-danger">Remove</a>
                </td> -->
            <td>
                <a th:href="${#mvc.url('UC#createOrEditUserForm').arg(0, user.id).build()}" class="btn btn-sm btn-warning">Edit</a>
            </td>

        </tr>
            </tbody>
        </table>
            <a th:href="${#mvc.url('UC#createOrEditUserForm').build()}" class="btn btn-primary">New user</a>
        </div>
        <div th:replace="fragments/fragments::footer"></div>
    </div>
    </body>
    </html>